[submodule "ChoiRbot"]
	path = ChoiRbot
	url = https://github.com/OPT4SMART/ChoiRbot.git
[submodule "ros2-vicon-receiver"]
	path = ros2-vicon-receiver
	url = https://github.com/OPT4SMART/ros2-vicon-receiver.git
